body {
background-image:url("kitchens.jpg");
background-repeat: no-repeat; 
background-size: 100%;
background-position: top center;
}
h1, h2, .edit, td {
color: #000000;
font-family: 'Permanent Marker', 'cursive';
}
header {
text-align: center;
padding-top: 40px;
}
.input {
text-align: center;
padding: 0 0 25px 0;
}
.datainput {
width: 400px;
background-color: #808080;
border: 3px solid #ecf0f1;
border-radius: 5px;
color: #000000;
padding: 10px 10px;
}
.btn {
background-color: #27ae60;
border: 1px solid #2ecc71;
border-radius: 3px;
color: #ecf0f1;
font-size: 20px;
padding: 10px 15px;
margin-left: 15px;
cursor: pointer;
outline: none;
}
.edit {
text-decoration: underline;
text-align: right;
font-size: 24px;
min-width: 600px;
}
.edit span {
cursor: pointer;
}
.list h2 {
text-align: center;
}
.items {
clear: both;
margin: 0 auto;
border-top: 1px solid #95a5a6;
border-bottom: 1px solid #95a5a6;
background-color:#808080;
}
td {
padding: 10px 10px;
font-size: 20px;
}
thead tr {
border: none;
}
tr {
border-bottom: 1px solid #ecf0f1;
}
.cross {
display: none;
cursor: pointer;
}
.content {
width: 500px;
}
.checked {

position: relative;
}
.checked::after {
content: '';
border-bottom: 4px solid #000000;
position: absolute;
left: 0;
top: 55%;
width: 100%;
}
